name: aws-ci-cd

on:
  push:
    branches:
      - 'main'

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Write Google Sheet API credential file
        env:
              SECRET: ${{secrets.API_SECRET}}
        run: |
          sh ./credential.sh
          cat credentials.json
      -
        name: Build and Push Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: devinlin11010/nihongo-hitter-be
  # CD:
  #   needs: CI
    
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v2 
  #     - name: Deploy in EC2
  #       env:
  #           PRIVATE_KEY: ${{ secrets.AWS_PRIVATE_KEY  }}
  #           HOSTNAME : ${{ secrets.AWS_HOSTNAME  }}
  #           USER_NAME : ${{ secrets.AWS_USER  }}
            
  #       run: |
  #         echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
  #         ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${HOSTNAME} '
          
  #           #Now we have got the access of EC2 and we will start the deploy
  #           docker pull devinlin11010/nihongo-hitter-be:latest
  #           docker stop nihongo-hitter-be && docker rm nihongo-hitter-be
  #           docker run -p 12345:80 -d --network="neko-sekai-network" --name="nihongo-hitter-be" devinlin11010/nihongo-hitter-be:latest
  #         '